@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap");

:root {
  --dark: #000;
  --mid-dark: #423b3b;
  --mid-red: #ff6b57;
  --grey: rgb(226, 226, 226);
}
* {
  font-family: "Inter";
  letter-spacing: -0.075em;
}

h1 {
  font-weight: 700;
  font-size: 54px;
  margin: 0;
  padding: 0;
}

h3 {
  font-weight: 700;
}

img {
  user-select: none;
  -webkit-user-select: none;
}

.text-red {
  color: red;
}

.text-mid-red {
  color: var(--mid-red);
}

.text-mid-dark {
  color: var(--mid-dark);
}

.github:hover {
  cursor: pointer;
  color: var(--mid-red);
  transition: ease-in-out 0.2s;
}

.grey {
  background-color: var(--grey);
}

.card {
  min-width: 100%;
}
